* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
}

:root {
  background-color: #121213;
}

.header {
  background-color: #f6f4f7;
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  position: relative;
}

.header img {
  z-index: 1000;
  height: 100%;
  width: auto;
  position: absolute;
  top: 0;
  left: 0;
}

.board {
  display: flex;
  flex-direction: column;
  gap: 5px;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

.tile {
  width: 70px;
  height: 70px;
  border: 2px solid #3a3a3c;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  font-weight: 800;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.line {
  display: flex;
  gap: 5px;
}

.retry_btn {
  width: 4rem;
  height: 2rem;
  cursor: pointer;
  color: rgb(91, 91, 91);
  font-family: fantasy;
  font-size: 16px;
  border: 1px solid rgb(91, 91, 91);
  border-radius: 2px;
}

.green {
  background-color: green;
}

.yellow {
  background-color: #ffff0099;
}

.modal_background {
  position: fixed;
  inset: 0;
  background: rgba(0,255,255,0.15); /* pick your poison */
  backdrop-filter: blur(3px) saturate(50%);
  -webkit-backdrop-filter: blur(8px) saturate(120%);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2000;
}

.modal {
  width: 30rem;
  height: 15rem;
  background: white;
  border-radius: 5px;
  box-shadow: 0 6px 20px rgba(0,0,0,0.12);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.win {
  background-color: rgba(0, 128, 0, 0.681);
}

.lose {
  background-color: rgba(255, 0, 0, 0.658);
}

.header_inner {
  text-align: center;
  font-family: fantasy, 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 20px;
}

.modal_span {
  text-transform: capitalize;
  font-weight: 800;
  font-style: oblique;
}

.modal_button {
  width: 6rem;
  height: 2.5rem;
  margin-top: 2rem;
  font-size: 15px;
  cursor: pointer;
  font-family: fantasy, 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: #3a3a3c;
}